@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome !</h1>
    <p> On this website you can find a number of events!</p>
    <p> Feel free to join an event you find interesting.</p>
    <a type="button" asp-area="" asp-page="/Events" class="btn btn-primary btn-lg">Login</a>
    <a type="button" asp-area="" asp-page="/Events" class="btn btn-secondary btn-lg">Sign Up</a>
</div>
